# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.json

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
k6-load-test/results/summary.json

k6-load-test/results/summary.json
restassured-api-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
restassured-api-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
restassured-api-test/target/surefire-report/css/maven-base.css
restassured-api-test/target/surefire-report/css/maven-theme.css
restassured-api-test/target/surefire-report/css/print.css
restassured-api-test/target/surefire-report/css/site.css
restassured-api-test/target/surefire-report/images/collapsed.gif
restassured-api-test/target/surefire-report/images/expanded.gif
restassured-api-test/target/surefire-report/images/external.png
restassured-api-test/target/surefire-report/images/icon_error_sml.gif
restassured-api-test/target/surefire-report/images/icon_info_sml.gif
restassured-api-test/target/surefire-report/images/icon_success_sml.gif
restassured-api-test/target/surefire-report/images/icon_warning_sml.gif
restassured-api-test/target/surefire-report/images/newwindow.png
restassured-api-test/target/surefire-report/images/logos/build-by-maven-black.png
restassured-api-test/target/surefire-report/images/logos/build-by-maven-white.png
restassured-api-test/target/surefire-report/images/logos/maven-feather.png
restassured-api-test/target/surefire-reports/ApiTestsTest.txt
restassured-api-test/target/surefire-reports/TEST-ApiTestsTest.xml
selenium-end2end-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
selenium-end2end-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
selenium-end2end-test/target/surefire-reports/TEST-runners.TestRunner.xml
